@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* background-color: #000; */
	font-family: 'Raleway', sans-serif;
}

a:visited {
	color: #000;
}

h1 {
	font-weight: 700;
	font-size: 48px;
	line-height: 60px;
	color: #000;
}

h1 > span {
	display: block;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	padding-bottom: 30px;
}

.container {
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
	padding: 0 12px;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
	background-color: #fff;
	padding: 70px 0;
	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: ease;
}

.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	text-decoration: none;
	font-size: 24px;
}

.logo > span {
	padding: 10px 12px;
	background-color: #000;
	color: #fff;
	border-radius: 5px;
}
.header__link {
	text-decoration: none;
	margin-right: 10px;
	transition: all 0.3s ease-in-out;
}

.header__link:hover img {
	opacity: 70%;
	transform: scale(1.1);
}

.header__img {
	max-width: 25px;
}

/* banner */

.section-banner {
	margin-top: 180px;
}

.row {
	display: flex;
}
.main-photo {
	padding-right: 12px;
}
.main-photo__img {
	max-width: 526px;
	max-height: 600px;
}

.row > section {
	padding-left: 70px;
	padding-right: 100px;
}

.number-valulist {
	list-style: none;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	margin-top: 60px;
}

.number-valulist li {
	margin-right: 60px;
}

.number-valulist strong {
	display: block;
	color: #f26464;
	font-size: 36px;
	font-weight: 800;
}

.number-valulist span {
	font-size: 16px;
	letter-spacing: 1px;
}

.heading {
	display: inline-block;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 16px;
	border-bottom: 3px solid #f26464;
	padding-bottom: 7px;
	margin-bottom: 23px;
}

/* section-about */

.section-about {
	padding-top: 60px;
	padding-bottom: 120px;
}

.section-about p {
	color: #373737;
	font-size: 24px;
	line-height: 40px;
	font-weight: 300;
	margin-bottom: 60px;
}
