@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* background-color: #000; */
	font-family: 'Raleway', sans-serif;
}

a:visited {
	color: #000;
}

h1 {
	font-weight: 700;
	font-size: 48px;
	line-height: 60px;
	color: #000;
}

:root {
	--main-color-perple: #aa769a;
}

h1 > span {
	display: block;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	padding-bottom: 30px;
}

.container {
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
	padding: 0 12px;
}

/* btns */

.btn {
	display: inline-block;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 13px;
	font-weight: 600;
	letter-spacing: 3px;
	color: var(--main-color-perple);
	padding: 17px 30px;
	border: 2px solid var(--main-color-perple);
	border-radius: 60px;

	text-decoration: none;
	outline: none;
	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: ease;
	box-shadow: none;
}

.btn:visited {
	color: var(--main-color-perple);
}
.btn:hover {
	color: #fff;
	background-color: var(--main-color-perple);
}
.btn-sec {
	text-align: center;
}

/* header */

header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
	background-color: #fff;
	padding: 50px 0;
	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: ease;
}

header:hover {
	box-shadow: 0px 0px 20px rgb(0 0 0 / 25%);
}

.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	text-decoration: none;
	font-size: 24px;
}

.logo > span {
	padding: 10px 12px;
	background-color: #000;
	color: #fff;
	border-radius: 5px;
}
.header__link {
	text-decoration: none;
	margin-right: 10px;
	transition: all 0.3s ease-in-out;
}

.header__link:hover img {
	opacity: 70%;
	transition: all 0.2s ease-in-out;
	transform: scale(1.1);
}

.header__img {
	max-width: 25px;
}

/* banner */

.section-banner {
	margin-top: 180px;
}

.row {
	display: flex;
}
.main-photo {
	padding-right: 12px;
}
.main-photo__img {
	max-width: 526px;
	max-height: 600px;
}

.row > section {
	padding-left: 70px;
	padding-right: 100px;
}

.number-valulist {
	list-style: none;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	margin-top: 60px;
}

.number-valulist li {
	margin-right: 60px;
}

.number-valulist strong {
	display: block;
	color: var(--main-color-perple);
	font-size: 36px;
	font-weight: 800;
}

.number-valulist span {
	font-size: 16px;
	letter-spacing: 1px;
}

.heading {
	display: inline-block;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 16px;
	border-bottom: 3px solid var(--main-color-perple);
	padding-bottom: 7px;
	margin-bottom: 23px;
}

/* section-about */

.section-about {
	padding-top: 60px;
	padding-bottom: 120px;
}

.section-about p {
	color: #373737;
	font-size: 24px;
	line-height: 40px;
	font-weight: 300;
	margin-bottom: 60px;
}

/* section-skills */

.section-skills {
	padding-bottom: 105px;
}

.core-skills {
	padding: 0 12px;
}

.other-skills {
	padding: 0 12px;
}

.skill-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 11px;
}

.skill-list li {
	display: inline-block;
	color: #373737;
	font-size: 16px;
	padding: 10px 20px;
	background-color: #fff;
	border: 1px solid #d7d7d7;
	border-radius: 27px;
	margin-right: 15px;
	margin-bottom: 15px;
	font-weight: 500;
}

/* section=experience */

.section-exp {
	display: block;
	padding-bottom: 120px;
}

.section-exp section {
	padding: 0;
}
.section-exp p {
	margin-top: 0;
	margin-bottom: 1rem;
	display: block;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
}

.section-exp ul li {
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	position: relative;
	margin-bottom: 20px;
	padding-left: 28px;
}
.section-exp ul {
	list-style-type: none;
}

.section-exp ul li::before {
	content: '';
	position: absolute;
	left: 0;
	top: 10px;
	border-radius: 100%;
	width: 8px;
	height: 8px;
	background-color: #373737;
}

.years {
	display: block;
	color: #373737;
	font-size: 14px;
	font-weight: 700;
	padding-bottom: 10px;
}

.prof {
	display: block;
	color: #373737;
	font-weight: 500;
	font-size: 18px;
	padding-bottom: 30px;
}

.office-name {
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 10px;
}
